.skeletonRect {
  height: 100%;
  padding: 0.5rem;
  background-color: #333;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
