.headerContainer {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 60px;
  padding: 0.25rem 1rem;
  background-color: #1a1a1b;
  border-bottom: 1px solid #ccc5;
  z-index: 9;

  .logo {
    height: 44px;
  }

  .iconButton {
    background-color: transparent;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .iconButton {
    display: flex;
  }
}
