.sidebar {
  position: sticky;
  top: 60px;
  max-width: 270px;
  width: 100%;
  padding: 1rem 0;

  height: calc(100vh - 60px);
  background-color: #1a1a1b;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .iconButton {
      display: none;
    }

    h2 {
      background-color: #1a1a1b;
      padding: 0 1rem;
      font-size: 18px;
      line-height: 22px;
    }
  }

  ul {
    overflow-y: scroll;
    height: calc(100vh - 140px);
    overflow-x: hidden;
  }
}

.nav__item {
  list-style-type: none;
  padding-right: 1rem;

  &.selected {
    background-color: #28f2;
    border-right: 4px solid #28f;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    background-color: transparent;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    span {
      flex: 1;
      text-align: left;
      font-weight: bold;
      line-clamp: 1;
      overflow: hidden;
      max-width: 10rem;
      display: block;
      min-width: max-content;
      overflow: hidden;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    header {
      padding: 0 1rem;

      .iconButton {
        display: flex;
      }
    }
  }
}
